body{
    max-width: 375px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}
.header-first{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
    h2{
    color: #2379ca;
    font-size: 20px;
    }
    
}
.image-icons{
  height: 30px;
}
.icon-backround{
    height: 25px;
    background-color: #cbdbf5;
    border-radius: 50%;
    padding: 4px;
}
.second-header{
    display: flex;
    align-items: center;
    gap:10px;

p{
    background-color: #cbdbf5;
    padding: 7px;
    border-radius: 30px;
    color: #2379ca;
}
}
.icons-second{
    width: 25px;
    height: 25px;
    background-color: #cbdbf5;
    border-radius: 50px;
    padding: 4px;
}
.filter-nav{
   align-items: center;
   display: flex;
   justify-content: center;
   gap: 10px;
   padding: 10px;
}
.filter-btn {
    border: none;
    padding: 60px;
    background-color: #cbdbf5;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    flex-grow: 1
    
}
.filter-btn:hover{
    background-color: #2379ca;
     cursor: pointer;
}
.list-item-container {
    margin-bottom: 10px;
}

.list-item, .looking-doctors-btn {
    width: 100%;
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: white;
    background-color: #4b65f2;
    margin-bottom: 10px;
    position: relative; 
    transition: background-color 0.2s, box-shadow 0.2s;
}

.list-item::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f004'; 
    font-weight: 900;
    margin-right: 10px;
}


.list-item::after {
    font-family: 'Font Awesome 6 Free';
    content: '\f078'; 
    font-weight: 900;
}


.list-item:hover {
    background-color: #384cd3; 
    box-shadow: 0 4px 8px #00000033; 
}

.list-item.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.content {
    background-color: #dbe4ff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 20px;
    font-size: 14px;
    color: #555;
    margin-top: -10px; 
}

.looking-doctors-btn {
    background-color: #dbe4ff;
    color: #4b65f2;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 12px 20px;
}


.bottom-nav {
   
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 2px #0000001a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: 50%;
   
}

.bottom-nav a {
    color: #4b65f2;
    font-size: 24px;
    padding: 5px;
}
